@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,600&display=swap");
@font-face {
   font-family: "Cocogoose";
   src: url("Cocogoose.ttf") format("truetype");
}

.font-cocogoose {
   font-family: "Cocogoose";
}
